/* --------------------------------------------------------CodeFlow Übung lev1_2: getElementsByClassName */

.style {
    display: inline-block;
    border-radius: 5px;
    background: #666;
    color: white;
    padding: 5px;
  }


  .example {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;

  }

/* --------------------------------------------------------CodeFlow Übung lev2_1: DOM Elements*/

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }

  /* --------------------------------------------------------CodeFlow Übung lev2_2: DOM Elements*/





  